
.landing-div {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-div h1 {
    font-size: 60px;
    color: white;
}
.landing-div p {
    font-size: 30px;
    color: white;
    text-align: center;
}
.landing-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;

}
.admin-login {
    width: 280px;
    padding: 30px;
    margin-top: 5%;
    background: #88304e;
    border: none;
    color: white;
    cursor: pointer;
}
.student-login {
    width: 280px;
    padding: 30px;
    margin-top: 5%;
    background: white;
    border: none;
    color: #88304e;
    cursor: pointer;
}
.landing-container {
    background-image: url('https://res.cloudinary.com/doouwbecx/image/upload/v1608809143/Schoolng/Group_197_xkrbzq.png');
    width: 100%;
    background-size: cover;
    height: 110vh;
    margin-top: -5%;
}











@media  screen and (min-width: 320px) and (max-width: 480px) {
    
}

        
@media screen and (min-width: 481px) and (max-width: 768px) {
 
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
} 


